.g-hd {
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	z-index: 150;
	-webkit-app-region: drag;
}

.g-hd:after {
	content: '';
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	display: none;
	height: 2px;
}

.no-drag {
	-webkit-app-region: no-drag;
}

.m-logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 186px;
	height: 50px;
	border-radius: 5px 0 0 0;
	overflow: hidden;
}

.m-logo a {
	position: absolute;
	width: 150px;
	height: 50px;
}

.m-logo a svg {
	display: block;
	width: 114px;
	height: 20px;
	margin: 15px 0 0 15px;
}

.m-topbox {
	position: absolute;
	top: 0;
	left: 186px;
	height: 50px;
	width: 388px;
}

.m-hst {
	position: absolute;
	width: 53px;
	height: 22px;
	top: 14px;
	left: 6px;
}

.m-hst .btn {
	float: left;
	width: 25px;
	height: 20px;
	border: 1px solid;
	cursor: pointer;
}

.m-hst .btn-prv {
	border-right: 0;
	border-radius: 3px 0 0 3px;
}

.m-hst .btn-nxt {
	border-radius: 0 3px 3px 0;
}

.m-hst svg {
	width: 26px;
	height: 22px;
	margin: -1px 0 0 -1px;
}

.m-hst .btn.z-dis {
	cursor: default;
}

.m-hst .btn.z-dis svg {
	opacity: 0.2;
}

.m-sch {
	position: absolute;
	top: 14px;
	left: 69px;
	width: 218px;
	height: 22px;
}

.m-sch .sch-btn {
	position: absolute;
	left: 192px;
	padding: 4px;
	opacity: 0.45;
	width: 12px;
	height: 13px;
	cursor: pointer;
}

.m-sch .sch-btn:hover {
	opacity: 0.8;
}

.m-sch input {
	transform: translateZ(0px);
	-webkit-transform: translateZ(0px);
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 4px 27px 4px 10px;
	border-radius: 11px;
	border: 0;
	line-height: 16px;
}

.m-sch input:focus + .sch-btn {
	opacity: 0.8;
}

.m-tool {
	position: absolute;
	top: 0;
	right: 121px;
	height: 50px;
}

.m-tool .itm {
	position: relative;
	float: left;
	padding: 17px 13px 0;
	cursor: pointer;
}

.m-tool .itm svg.btn {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.m-tool .skin .u-arrlay {
	top: 42px;
}

.m-tool .msg .u-tip {
	left: 20px;
	top: 8px;
	line-height: 14px;
}

.m-tool .user {
	position: relative;
	float: left;
	margin-top: -2px;
	padding: 15px 0 13px 13px;
	-webkit-app-region: no-drag;
}

.m-tool .user .face {
	float: left;
	position: relative;
	width: 24px;
	height: 24px;
	overflow: hidden;
}

.m-tool .user .face .wrap {
	border-radius: 12px;
}

.m-tool .user .face img {
	width: 100%;
	height: 100%;
}

.m-tool .user .u-tip {
	top: 13px;
	left: 29px;
}

.m-tool .user .name {
	float: left;
	height: 24px;
	cursor: pointer;
}

.m-tool .user .name p {
	float: left;
	margin: 5px 0 0 6px;
	max-width: 80px;
}

.m-tool .user .arr {
	float: left;
	width: 12px;
	height: 12px;
	margin: 4px 9px 0 9px;
}

.m-tool .user .arr svg {
	width: 8px;
	height: 4px;
}