@import '~dark/color-variables.less';

body {
	background: @bgc1;
}

body,textarea,input,button,select,keygen,legend {
	color: @fc1;
}

::-webkit-scrollbar-track {
	background: @bgc1;
}

::-webkit-scrollbar-thumb {
	background: fade(#fff,10%);
}

::-webkit-scrollbar-thumb:hover {
	background: fade(#fff,15%);
}